.task-list {
    div {
        padding: 2px ;
        text-align: center;
        text-align: -webkit-center;
        button {
            &.remove-button:hover {
                color: #ae4f4f !important;
            }
            display: flex;
        }
    }
    .id{
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    .task {
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    .done {
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    .remove {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }
}